/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------*/

.ContanierHome{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.UlListHeader, .ListHeader{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}
a:visited{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}
.ListHeader:visited{
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}
a:hover{
  color: #ff6060;
  text-decoration: none;
}
.Home{
    background: url("../images/pizzaHome.png");
	  background-size: cover;
    background-repeat: no-repeat;
    width:  100%;
    height: 100vh;
}
.Title{
    position: relative;
    top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Seta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    width: 25px;
    height: 25px;
    transform: rotate(-45deg);
    position: relative;
    top: 330px;
}
.BottonsHeader{
    width: 1000px;
}
#Shopping, #Perfil, #PerfilTxt{
    float: right;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    position: absolute;
    top: 30px;
    right: 90px;
}
#LoginTxt{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    right: 63px;
}
#Login{
    position: absolute;
    top: 35px;
    right: 140px;
    width: 20px;
}
#Value{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    right: 213px;
}
#Value2{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    right: 180px;
}
#Shopping{
    position: absolute;
    top: 36px;
    right: 220px;
    width: 45px;
}
@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
body {
  color: #FFFFFF;
  background-color: #F62020;
}
.Promo{
  font-family: Coustard;
  font-size: 64px;
  text-align: center;
  color: #8C074A;
  position: relative;
  top: 5%;
  padding-top: 0cm;
}

.slider-container {
  position: absolute;
  left: 50%;
  top: 950px;
  width: 800px;
  height: 600px;
  margin: -300px 0 0 -400px;
}
.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: #333333;
  background-color: #fdc84b;
  font-size: 18px;
  font-weight: 600;
  font-family: 'karla';
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single .slider-single-title {
  display: block;
  float: left;
  margin: 16px 0 0 20px;
  font-size: 20px;
  font-family: 'karla';
  font-weight: 400;
  color: #ffffff;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes {
  display: block;
  float: right;
  margin: 16px 20px 0 0;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #ff6060;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
}
.slider-container .slider-content .slider-single .slider-single-likes p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #ffffff;
}
.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: .3;
  transform: translateX(-25%) scale(0.8);
}
.slider-container .slider-content .slider-single.preactive .slider-single-download {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-title {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-likes {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: .3;
  transform: translateX(25%) scale(0.8);
}
.slider-container .slider-content .slider-single.proactive .slider-single-download {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-title {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-likes {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
  z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.slider-container .slider-content .slider-single.active .slider-single-download {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  transition-delay: 200ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes {
  opacity: 1;
  transition-delay: 300ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes i {
  animation-name: heartbeat;
  animation-duration: 500ms;
  animation-delay: 900ms;
  animation-interation: 1;
  animation-fill-mode: forwards;
}
.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 360px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  margin-right: -2px;
}
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 360px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  margin-left: -2px;
}
#imgCarousel{
    border-radius: 30px;
}

.AccessForMenu{
  background-color: #7DA625;
  height: 120vh;
  position: relative;
  top: 750px;
}
.Title2{
  font-family: Coustard;
  font-size: 64px;
  text-align: center;
  color: #E82C0C;
  position: relative;
  top: 50px;
}
.ImgsPizza{
  margin: auto 150px;
  position: relative;
  top: 100px;
}
.ButtonMenu{
  background-color: #F62020;
  width: 300px;
  height: 73px;
  text-align: center;
  border-radius: 100px;
  margin: 0 auto;
  position: relative;
  top: 125px;
}

#ButtonMenu{
  font-family: Coustard;
  font-size: 24px;
  position: relative;
  top: 25px;
  color: #7DA625
}
.BottomMenu:hover{
  background-color: #B21717;
  position: relative;
  top: 123px;
  width: 305px;
  height: 78px;
}
a:hover{
  text-decoration: none;
}
.SecMensage{
  position: relative;
  top: 700px;
  background-color: #F4E93D;
  height: 633px;
}
.Mensage{
  margin: 0px auto;
  width: 70%;
  position: relative;
  top: 150px;
}
#Mensage{
  font-family: Coustard;
  font-size: 64px;
  color: #D83725;
}
.SecQuemSomos{
  position: relative;
  top: 700px;
  height: 633px;
}
.QuemSomos{
  padding-left: 10%;
  padding-top: 10%;
}
#QuemSomos{
  font-family: Coustard;
  font-size: 64px;
  color: #8C074A;
}
.QuemSomosTxt{
  width: 1060px;
  padding-left: 10%;
  padding-top: 5%;
}
#QuemSomosTxt{
  font-family: Roboto;
  font-size: 36px;
  color: #8C074A;
}
footer{
  background-color: #2A2626;
  height: 633px;
  position: relative;
  top: 700px;
}
.socials, .social{
  display: inline-block;
  position: relative;
  top: 150px;
  padding-left: 50px;
}
.follow{
  font-family: roboto;
  font-size: 24px;
  position: relative;
  top: 90px;
  padding-left: 100px;
}
.contact{
  font-family: roboto;
  font-size: 24px;
  text-align: center;
}
form{
  text-align: center;
}
input{
  background-color: #624F4F;
  border: 0px;  
}
.name{
  padding-top: 5%;
}
.name, .email, .content{
  padding-left: 19%;
  padding-bottom: 2%;
}
#name, #email, #content{
  height: 50px;
  width: 400px;
  border-radius: 10px;
  font-family: roboto;
  padding-left: 2%;
}
#content{
  height: 100px;
}
#buttonSend{
  background-color: #7DA625;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.buttonSend{
  padding-left: 41%;  
}
#buttonSend:Hover{
  background-color: #58751A;
  border-radius: 10px;
}
.bottom, .ButtonBottom{
    display: inline-block;
    font-weight: normal;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
}
