/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------*/


header{
    background-color: #F62020
}
.UlListHeader, .ListHeader{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}
a:hover{
  text-decoration: none;
}
.ButtonsHeader{
    width: 1000px;
}
#Shopping, #Perfil, #PerfilTxt{
    float: right;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    position: absolute;
    top: 30px;
    right: 90px;
}
#LoginTxt{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 63px;
}
#Login{
    position: absolute;
    top: 15px;
    right: 140px;
    width: 20px;
}
#Value{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 213px;
}
#Value2{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 180px;
}
#Shopping{
    position: absolute;
    top: 15px;
    right: 220px;
    width: 25px;
}
body{
    background-color: #FF7653;
}
#Menu{
    font-family: Coustard;
    font-size: 48px;
    color: #F62020;
    padding: 30px;
}
#search{
    background-color: #fafafa;
    float: right;
    position: relative;
    right: 65px;
    top: -65px;
}
#iconSearch{
    float: right;
    position: relative;
    right: 60px;
    top: -70px;
}
#card1{
    border-radius: 30px;
}

ul, li{
    display: inline-block;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
}
h2{
    position: relative;
    top: -290px;
    text-align: center;
    font-family: roboto;
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 4px 5px #F62020;
}
h3{
    position: relative;
    top: -180px;
    text-align: center;
    font-family: robot;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}
.ButtonAdd{
    position: relative;
    top: -175px;
    text-align: center;
    margin: 0px auto;
    width: 50%;
    background-color: #FFF;
    border-radius: 30px;
}
.ButtonAdd:hover{
    background-color: #F62020;
}
#TxtButtonAdd{
    font-family: roboto;
    font-size: 18px;
    color: #F62020;
}
#TxtButtonAdd:hover{
    color: #FFF;
}
.Ingredients{
    position: relative;
    top: -95px;
    text-align: center;
    font-family: roboto;    
    font-size: 14px;
}
.Ingredients:hover{
    color: #F62020;
}
.ButtonSeeMore{
    margin: 0px auto;
    background-color: #F62020;
    width: 15%;
    border-radius: 30px;
}
#TxtButtonSeeMore{
    text-align: center;
    font-family: roboto;
    font-size: 24px;
}
.hidden{
    position: relative;
    top: 90px;
    width: 50%;
    margin: 0px auto;
    background-color: #DE401D;
    border-radius: 30px;
    display: none;
}
.Txthidden{
    text-align: center;
    font-family: roboto;
    font-size: 28px;
}

footer{
    background-color: #2A2626;
    height: 633px;
    position: relative;
    top: 180px;
  }
  .socials, .social{
    display: inline-block;
    position: relative;
    top: 80px;
    padding-left: 0px;
  }
  .follow{
    font-family: roboto;
    font-size: 24px;
    position: relative;
    top: 40px;
    left: -130px;
    font-weight: normal;
    text-shadow: none;
  }
  .contact{
    font-family: roboto;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: -110px;
    font-weight: normal;
    text-shadow: none;
  }
  form{
    text-align: center;
    position: relative;
    top: -120px;
    left: 35px;
    
  }
  input{
    background-color: #624F4F;
    border: 0px;
  }
  .name{
    padding-top: 5%;
  }
  .name, .email, .content{
    padding-left: 21%;
  }
  #name, #email, #content{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    font-family: roboto;
    padding-left: 25px;
  }
  #content{
    height: 100px;
  }
  #buttonSend{
    background-color: #7DA625;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }
  .buttonSend{
    padding-left: 48%;  
  }
  #buttonSend:Hover{
    background-color: #58751A;
    width: 105px;
    height: 32px;
    border-radius: 10px;
  }
  .bottom, .ButtonBottom{
    display: inline-block;
    font-weight: normal;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: -10px;
    text-transform: uppercase;
}
