/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-image: url("../images/fundo-register.png");
	overflow: hidden;
	background-position: 30%;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.register{
	width: 800px;
	height: 600px;
	background-color: #FBF5F5;
	border-radius: 10px;
}
.imgRegister{
	position: relative;
	left: 370px;
	top: 10px;
}
.field{
	padding-top: 40px;
	padding-left: 50px;
}
p{
	padding-bottom: 20px;
	font-family: roboto;
	font-size: 24px;
}
input{
	font-family: roboto;
	font-size: 18px;
	border-radius: 20px;
	border: 0px;
	background-color: #C4C4C4;
	padding: 5px;
}
#name{
	width: 500px;
}
#mail{
	width: 550px;	
}
#ButtonRegister{
	position: relative;
	left: 100px;
	top: 15px;
	width: 500px;
	height: 40px;
	font-size: 24px;
	cursor: pointer;
}
#ButtonRegister:hover{
	background-color: #A1A1A1;
}
#invite{
	font-size: 14px;
	position: relative;
	top: 45px;
	padding-left: 225px;
}
a{
	text-decoration: none;
}
a:visited{
	color: #0000FF;
}
#logo{
	position: relative;
	top: -100px;
	right: 20px;
}