/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-image: url("../images/fundo-login.png");
    overflow: hidden;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login{
    width: 400px;
    height: 500px;
    background-color: #FBF5F5;
    border-radius: 30px;
}
.iconePerson{
    align-items: center;
    position: relative;
    left: 170px;
    top: 20px;
}
#name{
    font-family: roboto;
    font-size: 24px;
    padding-top: 50px;
    padding-left: 33px;
}
#key{
    font-family: roboto;
    font-size: 24px;
    padding-top: 50px;
    padding-left: 35px;
}
input{
    border-radius: 30px;
    border: 0px;
    background-color: #C4C4C4;
    width: 230px;
    height: 50px;
    font-family: roboto;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.name{
    width: 237px;
}
#buttonSend{
    font-family: roboto;
    font-size: 24px;
    width: 335px;
    position: relative;
    top: 50px;
    left: 30px;
}
#buttonSend:hover{
    cursor: pointer;
    background-color: #A1A1A1;
}
#Invite{
    font-family: roboto;
    position: relative;
    top: 100px;
    text-align: center;
}
a{
    text-decoration: none;
}
a:visited{
    color: #0000FF
}
.logo{
    position: relative;
    top: -100px;
    right: 20px;
}